@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Default-Regular';
    src: url("assets/fonts/PlaywriteNZBasic-Regular.ttf");
}

// * {
//     font-family: 'Default-Regular';
// }

body{
    margin: 0px;
    overflow-x: hidden;
}

.input-calendar-dropdown {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

html, body {
    height: 100%;
    overflow-x: hidden;
    background-color: #111827;
}