/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Default-Regular';
    src: url("assets/fonts/PlaywriteNZBasic-Regular.ttf");
}

* {
    font-family: 'Default-Regular';
}

body{
    margin: 0px;
}